body {
    background-image: url(https://d7hftxdivxxvm.cloudfront.net/?quality=80&resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2F2RNK1P0BYVrSCZEy_Sd1Ew%252F3417757448_4a6bdf36ce_o.jpg&width=910);
    padding: 20px;
    font-family: 'Mountains of Christmas', serif;
  }

  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    
  }
  
  h2, p {
    font-size: 25px;
  }
  
  .established {
    font-style: "Mountains of Christmas";
  }
  
  h1, h2, p, h3 {
    text-align: center;
  }

  ul {
    text-align: center;
  }
  
  .gave {
    width: 10%;
    background-color: rgb(245, 245, 245);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 500px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: 'Mountains of Christmas', serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }